{% extends "layout.html" %}
{% block content %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('index') }}">Home</a>
</li>
<li class="nav-item active">
    <a class="nav-link active" href="{{ url_for('search') }}">Search</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('import_data') }}">Import</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/logout">Logout</a>
</li>
</ul>
</div>
</nav>

<div class="jumbotron jumbotron-fluid bg-dark p-5">
    <div class="containter">
        {% if table %}
        <div class="card bg-light text-dark col-sm-6 mx-auto justify-content-center align-self-center">
            <div class="card-body">
                <form class="mx-auto" action="/search" method="POST" enctype="multipart/form-data">
                    {% for category in table %}
                    <div class=form-group>
                        <div class=input-group>
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="{{ category[0] }}">{{ category[0] }}</label>
                            </div>
                            <input class="form-control" name="{{category[0]}}" list="{{ category[0] }}">
                            <datalist id="{{ category[0] }}">
                                {% for item in category[1:] %}
                                <option value="{{item}}">
                                    {% endfor %}
                            </datalist>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="d-flex justify-content-between align-items-center h-100">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" name="show">
                            <label class="form-check-label" for="defaultCheck1">
                                Show Query?
                            </label>
                        </div>
                        <button class="btn btn-primary pull-right" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <br>
        {% endif %}

        {% if error %}
        <div class="card bg-light text-dark md-3 mx-auto justify-content-center align-self-center">
            <div class="card-body">
                {{error}}
            </div>
        </div>
        {% endif %}

        {% if data %}
        <div class="card bg-light text-dark mx-auto justify-content-center align-self-center">
            <div class="card-body table-responsive">
                <table class="table table-sm table-body">
                    <thead class="thead-light">
                        <tr>
                            {% for item in headers %}
                            <th scope=col>{{item.capitalize()}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for row in data %}
                            {% for item in row %}
                            <td>{{item}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% elif headers %}
        <div class="card bg-light text-dark mx-auto justify-content-center align-self-center">
            <div class="card-body">
                <table class="table table-sm">
                    <thead class="thead-light">
                        <tr>
                            {% for item in headers %}
                            <th scope=col>{{item.capitalize()}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}